@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

:root {
  --main-color: #ffbcc6;
  --accent-color: whitesmoke;
  --dark-accent: #404041;
}
html {
  font-family: "Nunito";
  font-size: 12px;
  background-color: var(--main-color);
}

h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.text-center {
  text-align: center;
}

section {
  min-height: 92vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
}
.container {
  width: 100%;
  height: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
}
h1.brand {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 30px;
}

/* form section*/
form {
  width: 90%;
  max-width: 600px;
  margin: 20px auto;
  background-color: var(--accent-color);
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 4px;
}
input.keyword {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  display: inline-block;
}
.flex-inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}
.input-container {
  margin: 0 auto;
  margin-top: 14px;
  font-size: 1.5rem;
}
.submit-form {
  background-color: var(--dark-accent);
  color: var(--accent-color);
  width: 70%;
  margin: 15px auto;
  margin-bottom: 0;
  font-size: 1.5rem;
  padding: 7px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.submit-form:hover {
  background-color: #404041bd;
  color: rgba(245, 245, 245, 0.911);
}
label input {
  vertical-align: middle;
}
/* Search result section */
.search-result {
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
}
.item {
  width: 100%;
  border-radius: 8px;
  background-color: var(--accent-color);
  padding: 20px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 250px 1fr 1fr;
  gap: 20px;
}
.well {
  background-color: rgb(233, 225, 225);
  padding: 20px;
  border-radius: 3px;
}
.img-btn-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.data-cont {
  margin: 6px 0;
}
.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
}
.view-btn {
  text-decoration: none;
  text-align: center;
  padding: 7px 10px;
  background-color: var(--dark-accent);
  color: var(--accent-color);
  font-size: 1.4rem;
  border-radius: 4px;
  display: block;
  margin-top: 10px;
  transition: all 0.3s;
}
.view-btn:hover {
  background-color: #404041bd;
  color: rgba(245, 245, 245, 0.911);
}
.container.initial .brand {
  font-size: 7rem;
}
.container.initial form {
  max-width: 800px;
}
.container.initial form input {
  padding: 20px;
  font-size: 3rem;
}
ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.item p, li {
  font-size: 1.3rem;
}
#ingredients-btn {
  display: none;
}

/* footer */
footer {
  text-align: center;
  font-size: 1.7rem;
  max-height: 6vh;
  padding-top: 1rem;
  padding-bottom: 1.8rem;
  margin-bottom: 10px;
}
footer a {
  margin-top: 12px;
  color: inherit;
}

/* responsive design */
@media only screen and (max-width: 820px) {
  h1.brand {
    margin-bottom: 15px;
  }
  h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
  }
  .container.initial .brand {
    font-size: 4rem;
  }
  .container.initial form {
    max-width: 600px;
  }
  .container.initial form input {
    padding: 10px;
    font-size: 2rem;
  }
  form {
    width: 100%;
    max-width: 600px;
    margin: 10px auto;
  }
  .search-result {
    grid-gap: 14px;
  }
  .item {
    grid-template-columns: 175px 1fr 1fr;
    padding: 17px;
  }
  .item p, li {
    font-size: 1rem;
    margin-right: 3px;
  }
  .well {
    padding: 16px;
  }
  .data-cont {
    margin: 5px 0;
  }
  .view-btn {
    padding: 7px 10px;
    font-size: 1.2rem;
    margin-top: 8px;
  }
}

@media only screen and (max-width: 480px) {
  h1.brand {
    font-size: 2.3rem;
    margin-bottom: 10px;
  }
  h2 {
    font-size: 1.3rem;
  }
  .item h2 {
    font-size: 1.7rem;
  }
  .container.initial .brand {
    font-size: 2.3rem;
  }
  .container.initial form input {
    padding: 10px;
    font-size: 1.5rem;
  }
  form {
    width: 100%;
    margin: 10px auto;
  }
  .flex-inputs {
    gap: 14px;
  }
  .input-container {
    margin-top: 14px;
    font-size: 1.3rem;
  }

  /* item results styling */
  .search-result {
    grid-gap: 20px;
  }
  .item {
    grid-template-columns: 1fr;
    padding: 17px;
  }
  .item p, li {
    font-size: 1.2rem;
  }
  .well {
    padding: 14px;
  }
  .data-cont {
    margin: 6px 0;
  }
  .view-btn {
    padding: 7px 10px;
    font-size: 1.2rem;
    margin-top: 8px;
  }
  footer {
    font-size: 1.1rem;
  }
  #ingredients-btn {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}
